<li>
	{{kind}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}Oder Again!{{else}}CONSUME{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Compost</button>
</li>